In [174]:
import pandas as pd
import os
from sklearn.metrics import classification_report, accuracy_score

In [293]:
# ["AWPNLI", "RedditNLI", "StressTest", "RTE_Quant", "NewsNLI"]
dataset = "NewsNLI"
root_path = os.path.dirname(os.getcwd())
results_path = os.path.join(root_path, "data", "equate_labelled", f"{dataset}_phase2.csv")
os.makedirs(os.path.join(root_path, "data", "equate_labelled", "processed"), exist_ok=True)

In [294]:
res = pd.read_csv(results_path)
res.head()

,sample_index,generated_label,error_message,golden_label,premise,hypothesis
0,575,entailment,NaN,neutral,"Peter Siebold, 43, was identified as the pilot...",Pilot who survived identified as Peter Siebold...
1,914,contradiction,NaN,neutral,Holder said the Justice Department is working ...,Ten Mexican nationals have been charged and se...
2,450,entailment,NaN,entailment,The nine were brought into Somali waters and t...,"Nine people were brought into Somali waters, h..."
3,860,neutral,NaN,neutral,There are some additional 863 cancer cases amo...,"There are at least 2,509 certified cancer case..."
4,831,neutral,NaN,neutral,The survey said 57% supported it going forward...,New CNN/ORC survey shows 57% of Americans supp...

In [274]:
res.shape

(247, 6)

In [275]:
res[res.duplicated(subset=["sample_index"])].shape[0]

0

In [246]:
res = res.drop_duplicates(subset=['sample_index'], keep='first', ignore_index=True)
res.to_csv(results_path, index=False)
res.shape

(958, 6)

In [209]:
# import re
#
# def clean_text(text: str):
#     return re.sub(r'\s+', ' ', text.lower().replace("\n", "")).strip()

In [47]:
# for col in ["premise", "hypothesis"]:
#     res[f"clean_{col}"] = res[col].apply(lambda text: clean_text(text))
#
# # mark correctly classified samples and put them first in the dataset, so they don't get drop if they have a duplicate
# res["keep"] = res.apply(lambda row: 0 if row["golden_label"] == row["generated_label"] else 1, axis=1)
# res = res.sort_values(by=["keep"], ascending=True)
# res = res[~res.duplicated(subset=['clean_premise', 'clean_hypothesis'])]
# res.shape

In [48]:
# res.drop(columns=["keep"], axis=0, inplace=True)

In [49]:
# res.to_csv(os.path.join(root_path, "data", "equate_labelled", f"cleaned_{dataset}_gpt4.csv"), index=False)

Do we have scripts that threw an error?

In [247]:
res[res['error_message'].notna()].shape[0]

0

In [248]:
list(res[res['error_message'].notna()]["sample_index"].values)

[]

Filter out erroneous scripts, if any

In [295]:
valid_res = res[res["error_message"].isna()]

In [289]:
valid_res["golden_label"].value_counts(normalize=True)

golden_label
neutral       0.580247
entailment    0.419753
Name: proportion, dtype: float64

In [290]:
valid_res["generated_label"].value_counts()

generated_label
entailment       87
neutral          49
contradiction    26
Name: count, dtype: int64

In [270]:
# valid_res = valid_res[valid_res["generated_label"]!="neutral"]

In [262]:
valid_res[valid_res["generated_label"]=="contradiction"]

,sample_index,generated_label,error_message,golden_label,premise,hypothesis,modified_label
1,914,contradiction,NaN,neutral,Holder said the Justice Department is working ...,Ten Mexican nationals have been charged and se...,neutral
17,736,contradiction,NaN,neutral,But suddenly the two reporters were pinned aga...,One Egyptian journalist is accused of being an...,neutral
43,935,contradiction,NaN,neutral,"Despite design improvements, warnings and inst...",Five infant deaths have been linked to the rec...,neutral
44,727,contradiction,NaN,neutral,Furyk took full advantage to record six birdie...,A double bogey on the final hole leaves one over.,neutral
55,663,contradiction,NaN,neutral,Youth unemployment is at 19.9 percent in the e...,"10 percent unemployment for eurozone, 9.7 perc...",neutral
78,749,contradiction,NaN,entailment,'' Even if you replaced (jet fuel) with liquid...,Some of the proposals could cut CO2 emissions ...,neutral
80,64,contradiction,NaN,entailment,Police have obtained a warrant to arrest Mesac...,Mesac Damas charged with first-degree murder i...,neutral
139,838,contradiction,NaN,neutral,'' We call on Iranian authorities to immediate...,Iranian official says Jason Rezaian and Yegane...,neutral
157,818,contradiction,NaN,neutral,Almost 72% -- Percentage of people in the Unit...,Thirty-seven states and the District of Columb...,neutral
196,605,contradiction,NaN,neutral,Twenty-nine people in the northwest Alabama to...,"Thirty-five people killed in Marion County, sh...",neutral
230,787,contradiction,NaN,neutral,"The United States committed over $800,000 for ...","U.S. commits $1 million in assistance, supplies.",neutral
247,586,contradiction,NaN,neutral,The idea that schizophrenia is not one single ...,Researchers say schizophrenia is not one disor...,neutral
248,681,contradiction,NaN,neutral,The victims were taken to WellStar Kennestone ...,Six people are taken to Wellstar Kennestone Ho...,neutral
271,930,contradiction,NaN,neutral,"In truth, Argentina were far from their best a...",Messi's strike lifts Argentina to a 2-1 win ov...,neutral
278,844,contradiction,NaN,neutral,The Indonesian National Search and Rescue Agen...,A Sukhoi representative says 42 passengers and...,neutral
294,835,contradiction,NaN,neutral,Stenson's two-shot lead evaporated when he fir...,Scandinavians JB Hansen and Henrik Stenson fin...,neutral
323,726,contradiction,NaN,neutral,Officials said three people were killed in the...,"32 were killed in Madalla, a government offici...",neutral
335,896,contradiction,NaN,neutral,"Trevor Muir (left), 23 ; Darcy Shepard, 18 ; H...","Jumpers included family members age 94, 74, 45...",neutral
340,737,contradiction,NaN,neutral,The $300 Slingbox 500 also streams1080p HD con...,Both add HD streaming and the Slingbox 500 add...,neutral
351,643,contradiction,NaN,neutral,Twelve people were injured in the incident in ...,Five people killed and five badly injured in i...,neutral
372,505,contradiction,NaN,entailment,"Five people, including two flight attendants, ...",Three people were taken to hospitals.,neutral
390,540,contradiction,NaN,neutral,But only one in three Americans are concerned ...,Fifty-two percent of Americans worried that a ...,neutral
397,762,contradiction,NaN,neutral,But the prosecutor's office estimated the valu...,Works are worth about 100 million euros ($123....,neutral
409,931,contradiction,NaN,entailment,It was centered 156 kilometers east-northeast ...,The tremor strikes over 150 kilometers off the...,neutral
438,293,contradiction,NaN,entailment,The remaining tie pits Champions League debuta...,Debutants Malaga to play 1997 champions Boruss...,neutral
496,173,contradiction,NaN,entailment,The other four main parties followed with narr...,Five main parties lead with narrow margins sep...,neutral
518,24,contradiction,NaN,entailment,"Another guest speaker was Adeolu Akinyemi, a y...",Adeolu Adewunmi founded Street Skills to rehab...,neutral
523,498,contradiction,NaN,neutral,Two business travelers road test some stylish ...,Two business travelers road test some stylish ...,neutral
528,659,contradiction,NaN,neutral,"Manning has asked for Lind, instead of the mil...",He has pleaded guilty to 10 of 22 charges agai...,neutral
533,96,contradiction,NaN,entailment,Some 9% said they'd like to be able to time tr...,Nearly 1 in 10 say they'd most like to be able...,neutral
565,669,contradiction,NaN,neutral,They have identified 11 other children at the ...,12 children in Colorado and four in Boston hav...,neutral
604,918,contradiction,NaN,neutral,Victory at Wimbledon will give Nadal his 11th ...,Nadal won three grand slams including Wimbledo...,neutral
646,829,contradiction,NaN,neutral,Retaining the III Marine Expeditionary Force h...,"9,000 Marines will be tranferred from Okinawa ...",neutral
670,257,contradiction,NaN,entailment,The Rwanda News Agency reported that Rwanda ha...,"Rwanda has dispatched some 1,900 soldiers, Rwa...",neutral
687,879,contradiction,NaN,neutral,"Back in the big time, Frankfurt has made a bli...",Eintracht Frankfurt held to a 1-1 draw by Greu...,neutral
698,111,contradiction,NaN,entailment,"At press time, the winning bidder is offering ...","At press time, top bid was just shy of $1 mill...",neutral
725,859,contradiction,NaN,neutral,The Logan County Sheriff's Office can be reach...,Have a tip? Call the Tazewell County Sheriff's...,neutral
746,765,contradiction,NaN,neutral,"In addition, 13 cases linked to the outbreak h...",50 of those cases have been linked to Disneyla...,neutral
748,734,contradiction,NaN,neutral,Most of his five million records are in a form...,5 million records stored in two warehouses and...,neutral
784,953,contradiction,NaN,neutral,"Rodolfo Godinez, the first defendant to be tri...",Alfaro is the third person found guilty in the...,neutral
800,856,contradiction,NaN,neutral,All three brothers are serving in Bravo Compan...,Nevada Army National Guard unit has nine sets ...,neutral
833,553,contradiction,NaN,neutral,Australia's Matt Jones finished tied with Amer...,World number three Luke Donald finishes three ...,neutral
849,857,contradiction,NaN,neutral,Video from CNN affiliate Seven Network later s...,"At least five people have fled the cafe, Seven...",neutral
854,705,contradiction,NaN,neutral,"Citing Sudanese government statistics, el-Bash...","U.N. says 200,000 people have died, and 2.5 mi...",neutral
859,576,contradiction,NaN,neutral,-- At least seven civilians died in a U.S. air...,"U.S. airstrikes kill at least 10 civilians, Sy...",neutral
867,890,contradiction,NaN,neutral,Celtic went into the match in the Russian capi...,Celtic snap away drought with superb 3-2 win i...,neutral
913,750,contradiction,NaN,neutral,Bail had already been set at $5 million on fiv...,Bail for Anthony Sowell set at $1 million on r...,neutral
914,853,contradiction,NaN,neutral,Only 14 percent of Americans say an impending ...,30 percent said they think an attack on Americ...,neutral
922,523,contradiction,NaN,neutral,According to the Organization for Economic Coo...,Nearly 70% of the population is overweight or ...,neutral
929,189,contradiction,NaN,entailment,Oscar-nominated Chinese filmmaker Zhang Yimou ...,Local authorities demand a hefty fine of 7.48 ...,neutral
932,562,contradiction,NaN,neutral,"'' One of those men was the intended target,''...","One of the other men was the target, police say.",neutral
935,600,contradiction,NaN,neutral,NEW YORK (CNN) -- More than $20 million from d...,Parente may have taken more than $27 million f...,neutral
936,740,contradiction,NaN,neutral,One assault occurred at the Church of Christ i...,"One attack was in Yobe province, the other in ...",neutral
941,812,contradiction,NaN,neutral,"Deforestation, which clears the way for food t...",Food and Agricultural sector contribute over 3...,neutral
943,725,contradiction,NaN,neutral,"Earlier, when the death toll was reported to b...","The death toll has risen to 146, authorities say.",neutral

In [263]:
valid_res[valid_res["generated_label"]=="contradiction"].to_excel("NewsNLI_predicted_contradiction.xlsx")

In [216]:
valid_res["golden_label"].value_counts(normalize=True)

golden_label
entailment       0.333909
neutral          0.333909
contradiction    0.332181
Name: proportion, dtype: float64

In [ ]:
# # AWPNLI baselines
# mb_baseline_accuracy = 0.50
# rsb_baseline_accuracy = 0.50
# rsb_baseline_f1_c = 0.5
# rsb_baseline_f1_e = 0.5
#
# # RedditNLI baselines
# mb_baseline_accuracy = 57.89
# rsb_baseline_accuracy = 45.94
# rsb_baseline_f1_e = 57.89
# rsb_baseline_f1_n = 34.41
# rsb_baseline_f1_n = 7.69
#
# # StressTest baselines
# mb_baseline_accuracy = 0.33
# rsb_baseline_accuracy = 0.33
# rsb_baseline_f1_c = 0.33
# rsb_baseline_f1_e = 0.33
# rsb_baseline_f1_n = 0.33
#
# # NewsNLI baselines
# mb_baseline_accuracy = 0
# rsb_baseline_accuracy = 0
# rsb_baseline_f1_c = 0
# rsb_baseline_f1_e = 0
#
# # RTE_Quant baselines
# mb_baseline_accuracy = 0
# rsb_baseline_accuracy = 0
# rsb_baseline_f1_c = 0
# rsb_baseline_f1_e = 0

In [217]:
valid_res[valid_res['golden_label'] == valid_res['generated_label']].shape[0]

4658

In [218]:
accuracy_score(y_true=valid_res['golden_label'], y_pred=valid_res['generated_label'])

0.6706983441324694

In [219]:
print(classification_report(y_true=valid_res['golden_label'], y_pred=valid_res['generated_label']))

               precision    recall  f1-score   support

contradiction       0.81      0.70      0.75      2307
   entailment       0.57      0.62      0.60      2319
      neutral       0.66      0.69      0.67      2319

     accuracy                           0.67      6945
    macro avg       0.68      0.67      0.67      6945
 weighted avg       0.68      0.67      0.67      6945

In [285]:
valid_res = valid_res[["sample_index", "premise", "hypothesis", "golden_label", "generated_label"]].rename(columns={"generated_label": "reference_label"})
valid_res.to_csv(os.path.join(root_path, "data", "equate_labelled", "processed", f"{dataset}.csv"), index=False)

## Only for RTE_Quant and NEWSNLI

In [229]:
# valid_res[valid_res["generated_label"]=="contradiction"][["sample_index", "premise", "hypothesis"]].to_excel("NewsNLI_predicted_contradiction.xlsx")

# target label is neutral, model labels as contradiction and manual inspection indicates contradiction as well  (only applicable to NewsNLI and RTE_Quant, which treat "contradiction" case as neutral)
news_nli_corrected_labels_indices = [914, 736, 663, 749, 838, 605]
mask_news = valid_res['sample_index'].isin(news_nli_corrected_labels_indices)

rte_quant_corrected_labels_indices = [118, 128, 98, 7, 21, 54, 147, 20, 30, 155, 52, 95, 120, 72, 150, 57, 111, 26, 115, 58, 4, 18]
mask_rte = valid_res['sample_index'].isin(rte_quant_corrected_labels_indices)

valid_res['corrected_golden_label'] = valid_res["golden_label"]
valid_res.loc[mask_news, 'corrected_golden_label'] = 'contradiction'
valid_res["corrected_golden_label"].value_counts()

corrected_golden_label
neutral          72
entailment       68
contradiction    22
Name: count, dtype: int64

#### First consider the case when we correct the reference label through manual verification. Now the dataset is framed as a 3-way decision.

In [230]:
valid_res["corrected_golden_label"].value_counts(normalize=True)

corrected_golden_label
neutral          0.444444
entailment       0.419753
contradiction    0.135802
Name: proportion, dtype: float64

In [234]:
valid_res[valid_res['corrected_golden_label'] == valid_res['generated_label']].shape[0]

134

In [231]:
accuracy_score(y_true=valid_res['corrected_golden_label'], y_pred=valid_res['generated_label'])

0.8271604938271605

In [235]:
print(classification_report(y_true=valid_res['corrected_golden_label'], y_pred=valid_res['generated_label']))

               precision    recall  f1-score   support

contradiction       0.85      1.00      0.92        22
   entailment       0.75      0.96      0.84        68
      neutral       0.96      0.65      0.78        72

     accuracy                           0.83       162
    macro avg       0.85      0.87      0.84       162
 weighted avg       0.85      0.83      0.82       162

#### Now consider the case when we consider "contradiction" as neutral label, to remain consistent with the results from other papers

In [296]:
valid_res["modified_label"] = valid_res["generated_label"].apply(lambda label: label if label == "entailment" else "neutral")

In [253]:
valid_res['golden_label'].value_counts(normalize=True)

golden_label
entailment    0.504175
neutral       0.495825
Name: proportion, dtype: float64

In [254]:
valid_res[valid_res['golden_label'] == valid_res['modified_label']].shape[0]

696

In [255]:
accuracy_score(y_true=valid_res['golden_label'], y_pred=valid_res['modified_label'])

0.7265135699373695

In [256]:
print(classification_report(y_true=valid_res['golden_label'], y_pred=valid_res['modified_label']))

              precision    recall  f1-score   support

  entailment       0.71      0.77      0.74       483
     neutral       0.74      0.68      0.71       475

    accuracy                           0.73       958
   macro avg       0.73      0.73      0.73       958
weighted avg       0.73      0.73      0.73       958

In [297]:
save_data = valid_res[["sample_index", "premise", "hypothesis", "golden_label", "modified_label"]].rename(columns={"modified_label": "reference_label"})

save_data.to_csv(os.path.join(root_path, "data", "equate_labelled", "processed", f"{dataset}.csv"), index=False)

In [111]:
valid_res.sort_values(by="sample_index").head(10)

     sample_index       label  error_message golden_label
134             0     neutral            NaN      neutral
148             1  entailment            NaN      neutral
8               2  entailment            NaN      neutral
11              3  entailment            NaN   entailment
140             4     neutral            NaN      neutral
145             5  entailment            NaN      neutral
5               6  entailment            NaN   entailment
17              7     neutral            NaN      neutral
39              8  entailment            NaN   entailment
54              9  entailment            NaN   entailment

In [112]:
misclassified_samples_indices = sorted(valid_res[valid_res["generated_label"] != valid_res["golden_label"]]["sample_index"].unique())
misclassified_samples_indices

[1,
 2,
 5,
 10,
 20,
 26,
 31,
 37,
 39,
 42,
 47,
 54,
 55,
 65,
 66,
 77,
 81,
 82,
 87,
 89,
 92,
 93,
 94,
 103,
 106,
 109,
 110,
 139,
 142,
 151,
 162]

AWPNLI:
approx issues: 58, 60, 500, 602, 614, 648, 686
ambiguity: 62, 82, 304, 305, 482
wrong label in equate: 107, 106, 109, 138, 550, 674
RedditNLI:
not sure how to correct: 24,
wrong label: 36
RTE_Quant:
wrong label: 26, 31
not sure how to correct: 142

In [113]:
len(misclassified_samples_indices)

31

In [155]:
scripts_path = os.path.join(root_path, "data", "generated", dataset, "script_with_cot_vars_first")
sample_indices = []
for script_file in os.listdir(scripts_path):
    if script_file.endswith(".py"):
        with open(os.path.join(scripts_path, script_file), 'r') as f:
            idx = int(script_file.split(".")[0].split("_")[-1])
            lines = f.readlines()
            inputs = "\n".join(lines[:3]).strip()
            # script = "\n".join(lines)
            if "more than" in inputs or "less than" in inputs:
                sample_indices.append(idx)
sorted(sample_indices)

[0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 24,
 26,
 28,
 29,
 30,
 32,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 44,
 46,
 47,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 64,
 66,
 67,
 68,
 70,
 71,
 72,
 73,
 74,
 76,
 78,
 79,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 93,
 94,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 106,
 108,
 110,
 111,
 112,
 113,
 116,
 118,
 119,
 120,
 121,
 123,
 124,
 126,
 128,
 130,
 132,
 133,
 134,
 135,
 136,
 138,
 139,
 140,
 142,
 143,
 144,
 146,
 148,
 149,
 150,
 152,
 154,
 155,
 156,
 157,
 158,
 160,
 161,
 162,
 164,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 176,
 177,
 178,
 180,
 182,
 183,
 184,
 186,
 187,
 188,
 190,
 192,
 194,
 195,
 196,
 197,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 208,
 209,
 210,
 212,
 214,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 224,
 226,
 227,
 228,
 230,
 231,
 232,
 234,
 236,
 237,
 238,
 240,
 242,
 243,
 244,
 245,
 246,
 248,
 249,
 250,
 252,
 254,
 256,
 258,
 259,
 260,
 262,
 263,
 264,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 280,
 281,
 282,
 283,
 284,
 286,
 287,
 288,
 290,
 292,
 294,
 295,
 296,
 298,
 299,
 300,
 301,
 302,
 304,
 305,
 306,
 308,
 310,
 311,
 312,
 314,
 316,
 317,
 318,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 330,
 331,
 332,
 334,
 335,
 336,
 337,
 338,
 340,
 342,
 344,
 346,
 347,
 348,
 349,
 350,
 352,
 354,
 355,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 371,
 372,
 373,
 375,
 376,
 378,
 379,
 380,
 382,
 383,
 384,
 385,
 386,
 388,
 389,
 390,
 392,
 393,
 394,
 396,
 398,
 400,
 402,
 403,
 404,
 405,
 406,
 408,
 410,
 412,
 413,
 414,
 415,
 416,
 418,
 419,
 420,
 422,
 424,
 425,
 426,
 427,
 428,
 430,
 431,
 432,
 434,
 436,
 438,
 439,
 440,
 442,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 454,
 456,
 457,
 458,
 460,
 461,
 462,
 464,
 466,
 468,
 470,
 471,
 472,
 473,
 474,
 476,
 477,
 478,
 480,
 482,
 484,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 494,
 495,
 498,
 499,
 500,
 501,
 502,
 504,
 505,
 506,
 508,
 509,
 510,
 511,
 512,
 514,
 516,
 517,
 518,
 520,
 522,
 524,
 525,
 526,
 527,
 528,
 530,
 532,
 533,
 534,
 535,
 538,
 540,
 542,
 543,
 546,
 547,
 548,
 549,
 550,
 552,
 553,
 554,
 556,
 558,
 560,
 561,
 562,
 564,
 566,
 568,
 570,
 572,
 576,
 577,
 578,
 579,
 580,
 582,
 584,
 585,
 586,
 588,
 589,
 590,
 592,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 616,
 618,
 619,
 620,
 622,
 623,
 624,
 626,
 628,
 629,
 630,
 632,
 634,
 636,
 637,
 638,
 640,
 641,
 642,
 644,
 646,
 647,
 648,
 649,
 650,
 652,
 653,
 654,
 656,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 666,
 667,
 668,
 669,
 670,
 672,
 674,
 675,
 676,
 678,
 680,
 682,
 683,
 684,
 685,
 686,
 688,
 690,
 691,
 692,
 693,
 694,
 696,
 697,
 698,
 699,
 794,
 919,
 1168,
 1358,
 1367,
 1483,
 1582,
 1721,
 2194,
 2366,
 2386,
 2476,
 2704,
 2727,
 2944,
 2961,
 3034,
 3100,
 3116,
 3184,
 3394,
 3483,
 3666,
 3784,
 3937,
 4030,
 4186,
 4220,
 4298,
 4319,
 4390,
 4506,
 4531,
 4732,
 4873,
 4945]

In [158]:
misclassified_with_quantifier = [idx for idx in misclassified_samples_indices if idx in sample_indices]
len(misclassified_with_quantifier)

130

In [159]:
misclassified_with_quantifier

[1,
 7,
 13,
 15,
 21,
 29,
 35,
 39,
 47,
 55,
 57,
 67,
 68,
 73,
 93,
 96,
 97,
 99,
 101,
 103,
 111,
 113,
 119,
 123,
 124,
 126,
 133,
 135,
 143,
 149,
 155,
 161,
 171,
 173,
 177,
 183,
 190,
 195,
 197,
 203,
 205,
 209,
 217,
 221,
 227,
 237,
 243,
 249,
 259,
 267,
 269,
 271,
 273,
 281,
 283,
 287,
 295,
 311,
 321,
 325,
 327,
 331,
 335,
 337,
 340,
 347,
 368,
 371,
 373,
 383,
 385,
 389,
 392,
 393,
 405,
 415,
 427,
 431,
 439,
 451,
 452,
 473,
 477,
 489,
 491,
 495,
 499,
 501,
 505,
 506,
 509,
 511,
 525,
 527,
 533,
 549,
 577,
 579,
 585,
 589,
 595,
 598,
 601,
 602,
 605,
 611,
 613,
 623,
 629,
 641,
 647,
 649,
 653,
 661,
 663,
 669,
 680,
 683,
 685,
 691,
 693,
 699,
 1168,
 1483,
 2386,
 2727,
 3937,
 4319,
 4873,
 4945]